name: Pipeline
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install Poetry
        uses: pipx install poetry
      - name: Install dependencies
        uses: poetry install
      - name: Run tests
        uses: poetry run task test